<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CRM</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function() {
		cookCountyDropDown();
		$('#stateDropdown').change(function() {
		 cookCountyDropDown();
	});
	});
	function cookCountyDropDown(){
	var selectedStateId = $('#stateDropdown').val();
			if (selectedStateId) {
				$.ajax({
					url: '/counties',
					data: { 'stateId': selectedStateId },
					success: function(counties) {
						var $countyDropdown = $('#countyDropdown').empty();
					   // $countyDropdown.empty().append('<option value="">Select a County</option>');
						$.each(counties, function(index, county) {
							$countyDropdown.append($('<option></option>').attr('value', county.countyId).text(county.countyName));
						});
					}
				});
			} else {
				$('#countyDropdown').empty().append('<option value="">Select a County</option>');
			}
	}
	
		
	</script>
</head>
<body>
	<div th:insert="~{fragments/navbar :: navbar}">  </div>
	<div class="container">
		<hr>
		<h2 align = "center">Update Department</h2>

		<form action="#" th:action="@{/addDepartment}" th:object="${department}"
			method="POST">
			<input type="hidden" th:field="*{departmentId}" />
			<label for="status">Choose Status</label> 	&nbsp;&nbsp;&nbsp;
				<i class="fas fa-plus" style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal" title="Add a new status"></i>
			    <select class="form-control mb-4 col-4" th:field="*{status}"> 
					<option th:each="status:${deptStatus}" 
					th:text="${status.status}"
					th:value="${status.statusId}" ></option> 
				</select> 
			<label for="stateDropdown">Choose State</label> <select id ="stateDropdown" class="form-control mb-4 col-4" th:field="*{state}">
				<option th:each="state:${states}" 
						th:text="${state.stateName}"
						th:value="${state.stateId}" ></option>
			</select> 
			<label for="countyDropdown">Choose County</label> <select id = "countyDropdown" class="form-control mb-4 col-4" th:field="*{county}">
				<!--<option th:each="county:${counties}" 
						th:text="${county.countyName}"
						th:value="${county.countyId}" ></option>-->
			</select>
		
				<label for="departmentName">Choose Department</label>
				<input type="text"
				th:field="*{departmentName}" placeholder="Department Name"
				class="form-control mb-4 col-4">
				
				<label for="comments">Enter Comments</label>
				<textarea class="form-control mb-4 col-4" rows="5"
                              placeholder="Comments" th:field="*{comments}"></textarea>
				<label for="reminderDate">Follow Up Date:</label>
				<input type="datetime-local" class="form-control mb-4 col-4" th:field="*{reminderDate}" />
			    <button type="submit" class="btn btn-info col-2">Save
				Department</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to index page </a>

	
	</div>
</body>
</html>
